.App {
  text-align: center;
}

.todo_section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;  
  width: 100vw;
  height: 100vh;
}

.todomain_section{
  border: solid 1px rgb(178, 173, 173);
  border-radius: 5px;
  width: 270px;
  height:350px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todomain_section:hover{
  border:1px solid rgb(129, 186, 255);
}

.todomain-complete{
  padding-bottom: 10px;
}

.todobox_section{
  border: solid 1px rgb(255, 201, 129);
  width: 200px;
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.todolist-checkbox{
  cursor: pointer;
  margin-left: 20px;
  margin-right: 15px;
}

.todolist-list{
  list-style: none;
  padding: 0;
  text-align: left;
  overflow: scroll;
  height:250px;
  width: 250px;
}

.todolist-task{
  display: flex;
  justify-content: space-between;
}

.todolist-task:hover{
  background-color:lightskyblue;
}

.todolist-complete{
  color:rgb(135, 136, 136);
  text-decoration: line-through;
}

.todolist-btn{
  cursor: pointer;
  margin: 0 4px;
  font-size: 20px;
}

.todo-date{
  font-weight: 700;
  color:grey;
  padding-top: 30px;
}

.modal{
  width: 400px;
  height: 400px;

  /* 최상단 위치 */
  z-index: 999;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(220, 216, 216);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modal-delete{
  float: right;
  cursor: pointer;
  font-size:20px;
}

.modal-boxlist{
  text-align: left;
  overflow: scroll;
  height:250px;
  width: 200px;
}

.modal-list{
  display: flex;
  justify-content: space-between;
}

.modal-move{
  cursor:pointer;
  font-weight: 700;
  color:cornflowerblue;
  margin-right: 5px;
}
